{% load permissions_tags %} {% load static %}

<nav class="navbar navbar-expand-sm navbar-dark bg-dark principal_color font_poppins">
    <div class="container-fluid">

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mynavbar">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link text-center" href="#">
                        <i class="fa fa-home fa-4x" aria-hidden="true"></i> <br>
                        Inicio
                    </a>
                </li>
                {% if request.user|has_role:'SUPER_ADMIN,SUPERVISOR' %}
                        <li class="nav-item">
                            <a class="nav-link text-center" href="#">
                                <i class="fa fa-4x fa-calculator" aria-hidden="true"></i> <br>
                                Parametros
                            </a>
                        </li>
                    <li class="nav-item">
                        <a class="nav-link text-center" href="#">
                            <i class="fa fa-4x fa-users" aria-hidden="true"></i> <br>
                            Encuestadores
                        </a>
                    </li>
                    {% if request.user|has_role:'SUPER_ADMIN' %}
{#                        <li class="nav-item">#}
{#                            <a class="nav-link text-center" href="#">
{#                                <i class="fa fa-4x fa-area-chart" aria-hidden="true"></i> <br>#}
{#                                Estadística por Encuesta#}
{#                            </a>#}
{#                        </li>#}

{#                        <li class="nav-item">#}
{#                            <a class="nav-link text-center" href="##}
{#                                <i class="fa fa-4x fa-map-marker" aria-hidden="true"></i> <br>#}
{#                                GEO-Mapa#}
{#                            </a>#}
{#                        </li>#}

                        <li class="nav-item">
                            <a class="nav-link text-center" href="#">
                                <i class="fa fa-4x fa-area-chart" aria-hidden="true"></i> <br>
                                Estadisticas
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-center" href="#">
                                <i class="fa fa-4x fa-map-marker" aria-hidden="true"></i> <br>
                                 GEO-Mapa
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-center" href="#">
                                <i class="fa fa-tasks fa-4x" aria-hidden="true"></i> <br>
                                Comparative
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-center" href="#">
                                <i class="fa fa-4x fa-area-chart" aria-hidden="true"></i> <br>
                                Proyecciones
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-center" href="#">
                                <i class="fa fa-4x fa-file-text" aria-hidden="true"></i> <br>
                                 Descargas
                            </a>
                        </li>

{#                        <li class="nav-item">#}
{#                            <a class="nav-link text-center" href="##}
{#                                <i class="fa fa-4x fa-file-text" aria-hidden="true"></i> <br>#}
{#                                 Descargas#}
{#                            </a>#}
{#                        </li>#}

                    {% endif %}

                {% endif %}
                {% if request.user|has_role:'CLIENTE' %}
                                            <li class="nav-item">
                            <a class="nav-link text-center" href="#">
                                <i class="fa fa-4x fa-area-chart" aria-hidden="true"></i> <br>
                                Estadisticas CSI
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-center" href="#">
                                <i class="fa fa-4x fa-map-marker" aria-hidden="true"></i> <br>
                                 GEO-Mapa Candidatos
                            </a>
                        </li>
                {% endif %}
            </ul>

            <div class=" d-flex">
                <ul class="navbar-nav me-auto">

                    <li class="nav-item">
                        <div class="nav-link text-center">
                            <a class="text-decoration-none text-white"
                               href="#st.user.id %}">
                                {{ request.user.first_name }} {{ request.user.last_name }}
                            </a>
                            {% if request.user|has_role:'ENTREVISTADOR' %}
                                <br><i class="fa fa-4x"
                                       aria-hidden="true"> {{ request.user.pollresponse_set.all |length }} </i>
                            {% endif %}


                        </div>
                    </li>
                    {% if request.user|has_role:'SUPER_ADMIN' %}
                        <li class="nav-item">

                            <a class="nav-link text-center" href="#">
                                Admin <br> <i class="fa fa-4x fa-user-circle" aria-hidden="true"></i>
                            </a>
                        </li>

                    {% endif %}

                    <li class="nav-item">
                        <a class="nav-link text-center" href="#ir <br> <i class="fa fa-4x fa-sign-out" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>

            </div>
        </div>
    </div>
</nav>
