 {% extends 'base.html' %}
{% load static %} {% load permissions_tags %}
{% block content %}
    <br><br>
<div class="row">
    {% if request.user|has_role:'TESTIGO' %}
        <h2>
            Puesto: {{ mesa_list.0.mesa__puesto_votacion__nombre }}
        </h2>
            {% for mesa in mesa_list %}
                <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <a class="text-decoration-none"
                        href="{% url 'app:mesa' id=mesa.mesa__id %}">
                        <div class="card-body text-center card_comuna">
                            <i class="fa-solid fa-layer-group"></i>
                           Mesa {{ mesa.mesa__numero }}
                        </div>
                    </a>
                </div>
            </div>
            {% endfor %}

    {% endif %}

</div>
    <br><br><br><br>
    <div class="row">
        <div class="d-flex align-items-center mb-3 pb-1">
            <img class="mx-auto d-block" src="{% static 'img/logo.png' %}" height="100"
                 alt="logo">
        </div>
    </div>
{% endblock %}
