{% extends "base.html" %} {% load permissions_tags %} {% load static %}

{% block headcontent %}
    <script src='https://cdn.plot.ly/plotly-2.17.1.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

{% endblock %}


{% block content %}
    <h1 class="third_color_text text-center">
        <i class="fa fa-area-chart" aria-hidden="true"></i>
        ESTADÍSTICA POR ENCUESTA </h1>
    <br>
    <h2>
        {{ pregunta }}
    </h2>
    <input type="hidden" value="{{ id }}" id="pregunta_id">
    <div id='chart_pregunta_bar'><!-- Plotly chart will be drawn inside this DIV --></div>

{% endblock %}


{% block scriptcontent %}
    <script>

        function pintarChart(data) {
            results = data.results

            choose_label = []
            choose_result = []

            for (const [key, value] of Object.entries(results)) {
                choose_label.push(key)
                choose_result.push(value)
            }
            trace1 = {
              type: 'bar',
              x: choose_label,
              y: choose_result
            };

            data = [trace1];
            Plotly.newPlot('chart_pregunta_bar', {
              data: data,
              layout: {}
            });
        }

        function EncuestasInfoByEncuestadorSuccessCallback(data) {
            console.log(data)
            pintarChart(data.data)
        }

        function EncuestasInfoByEncuestadorErrorCallback() {
            console.log('barriosErrorCallback, error trayendo la info de preguntas ')

        }

        var getEncuestasInfoByEncuestador = (id, successCallback, errorCallback,) => {
            var url = `/api/get_resumen_by_question/${id}`
            $.ajax({
                type: 'GET',
                url,
                error: errorCallback,
                success: successCallback
            });
        };

        pregunta_id = $("#pregunta_id").val()
        getEncuestasInfoByEncuestador(pregunta_id, EncuestasInfoByEncuestadorSuccessCallback, EncuestasInfoByEncuestadorErrorCallback)

    </script>
{% endblock %}