 {% extends 'base.html' %}
{% load static %} {% load permissions_tags %}
{% block content %}
<div class="container">
    <h1 class="mt-5">Formulario</h1>

    <!-- El formulario con Bootstrap -->
    <form id="miFormulario">

        <div class="row">
            <div class="h1 col-md-12">
                <h1>Alcaldía</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <!-- Campo 1 -->
                <div class="form-group">
                    <label class="h3" for="campo1">Carlos Sotomonte:</label>
                    <input type="number" id="campo1" name="campo1" class="form-control" style="height: 60px;">
                </div>
            </div>

            <div class="col-md-3">
                <button type="button" class="guardar btn btn-success" style="margin-top: 30px; height: 80px; width: 200px" data-field="campo1">Guardar</button>
            </div>
        </div>
<br>
        <div class="row">
            <div class="col-md-6">
                <!-- Campo 2 -->
                <div class="form-group">
                    <label class="h3" for="campo2">Jaime Beltran:</label>
                    <input type="number" id="campo2" name="campo2" class="form-control" style="height: 60px;">
                </div>
            </div>

            <div class="col-md-3">
                <button type="button" class="guardar btn btn-success" style="margin-top: 30px; height: 80px; width: 200px" data-field="campo2">Guardar</button>
            </div>
        </div>
<br>
<br><br>
        <div class="row">
            <div class="h1 col-md-12">
                <h1>Gobernación</h1>
            </div>
        </div>
        <div class="row">
            
            <div class="col-md-6">
                <!-- Campo 1 -->
                <div class="form-group">
                    <label class="h3" for="campo1">Juvenal Díaz:</label>
                    <input type="number" id="campo1" name="campo1" class="form-control" style="height: 60px;">
                </div>
            </div>

            <div class="col-md-3">
                <button type="button" class="guardar btn btn-success" style="margin-top: 30px; height: 80px; width: 200px" data-field="campo1">Guardar</button>
            </div>
        </div>
<br>
        <div class="row">
            <div class="col-md-6">
                <!-- Campo 2 -->
                <div class="form-group">
                    <label class="h3" for="campo2">Hector Mantilla:</label>
                    <input type="number" id="campo2" name="campo2" class="form-control" style="height: 60px;">
                </div>
            </div>

            <div class="col-md-3">
                <button type="button" class="guardar btn btn-success" style="margin-top: 30px; height: 80px; width: 200px" data-field="campo2">Guardar</button>
            </div>
        </div>
<br>
        <br><br>
        <div class="row">
            <div class="h1 col-md-12">
                <h1>Consejo</h1>
            </div>
        </div>
        <div class="row">
            
            <div class="col-md-6">
                <!-- Campo 1 -->
                <div class="form-group">
                    <label class="h3" for="campo1">L 10:</label>
                    <input type="number" id="campo1" name="campo1" class="form-control" style="height: 60px;">
                </div>
            </div>

            <div class="col-md-3">
                <button type="button" class="guardar btn btn-success" style="margin-top: 30px; height: 80px; width: 200px" data-field="campo1">Guardar</button>
            </div>
        </div>
<br>
        <div class="row">
            <div class="col-md-6">
                <!-- Campo 2 -->
                <div class="form-group">
                    <label class="h3" for="campo2">F 21:</label>
                    <input type="number" id="campo2" name="campo2" class="form-control" style="height: 60px;">
                </div>
            </div>

            <div class="col-md-3">
                <button type="button" class="guardar btn btn-success" style="margin-top: 30px; height: 80px; width: 200px" data-field="campo2">Guardar</button>
            </div>
        </div>
<br>
        <br><br>
        <div class="row">
            <div class="h1 col-md-12">
                <h1>Asamblea</h1>
            </div>
        </div>
        <div class="row">
            
            <div class="col-md-6">
                <!-- Campo 1 -->
                <div class="form-group">
                    <label class="h3" for="campo1">Q 23:</label>
                    <input type="number" id="campo1" name="campo1" class="form-control" style="height: 60px;">
                </div>
            </div>

            <div class="col-md-3">
                <button type="button" class="guardar btn btn-success" style="margin-top: 30px; height: 80px; width: 200px" data-field="campo1">Guardar</button>
            </div>
        </div>
<br>
        <div class="row">
            <div class="col-md-6">
                <!-- Campo 2 -->
                <div class="form-group">
                    <label class="h3" for="campo2">R 17:</label>
                    <input type="number" id="campo2" name="campo2" class="form-control" style="height: 60px;">
                </div>
            </div>

            <div class="col-md-3">
                <button type="button" class="guardar btn btn-success" style="margin-top: 30px; height: 80px; width: 200px" data-field="campo2">Guardar</button>
            </div>
        </div>
        <!-- Otros campos aquí... --><br>
    </form>
</div>
{% endblock %}
